/*------- Variables -------*/
/* ------- Colors ------- */
/*--- General ---*/
/* ------- Fonts ------- */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "News Gothic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/news-gothic.ttf") format("truetype");
}

@font-face {
  font-family: "Universal Light";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/universallight-regular.ttf") format("truetype");
}

/* ------- Animations ------- */
@-webkit-keyframes twinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes twinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes twinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-o-keyframes twinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes twinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

/* ------- General Styles -------*/
body {
  font-size: 18px;
  font-family: "News Gothic", sans-serif;
  font-weight: bold;
    height: 100%;
    color:rgb(255,220,8);
    overflow: hidden;
}

#wrapper{
    text-align: center;
}

#site-title {
  font-family: "Universal Light", sans-serif;
  font-weight: lighter;
}

.justified{
    text-align: justify;
}

.fadeOut p {
  font-family: "Open Sans", sans-serif;
 color:rgb(3,117,140);
  font-weight: normal;
}

a {
  color: #003c95;
  transition: color 500ms ease;
}

a:hover, a:focus {
  color: #1673ff;
  transition: color 500ms ease;
}

html {
  position: relative;
  min-height: 100%;
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: block;
  width: 100%;
}

.stars {
  background: #000 url("../img/stars.png") repeat top center;
  z-index: -2;
}

.twinkling {
  background: transparent url("../img/twinkling.png") repeat top center;
  z-index: -1;
  -moz-animation: twinkle 200s linear infinite;
  -ms-animation: twinkle 200s linear infinite;
  -o-animation: twinkle 200s linear infinite;
  -webkit-animation: twinkle 200s linear infinite;
  animation: twinkle 200s linear infinite;
}

.crawl {
  position: relative;
  top: 999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

@keyframes crawl {
    0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
    100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
