/*------- Variables -------*/
/* ------- Colors ------- */
/*--- General ---*/
/* ------- Fonts ------- */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "News Gothic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/news-gothic.ttf") format("truetype");
}

@font-face {
  font-family: "Universal Light";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/universallight-regular.ttf") format("truetype");
}

/* ------- Animations ------- */
@-webkit-keyframes twinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-moz-keyframes twinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-ms-keyframes twinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-o-keyframes twinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes twinkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

/* ------- General Styles -------*/
body {
  font-size: 18px;
  font-family: "News Gothic", sans-serif;
  font-weight: bold;
    height: 100%;
    color:rgb(255,220,8);
    overflow: hidden;
}

#site-title {
  font-family: "Universal Light", sans-serif;
  font-weight: lighter;
}

#wrapper{
    text-align: center;
    height: 100%;
    position: relative;
    perspective-origin: 50% 100;
    perspective: 300px;
}

.justified{
    text-align: justify;
    
}

.fadeOut p {
  font-family: "Open Sans", sans-serif;
 color:rgb(3,117,140);
  font-weight: normal;
}

a {
  color: #003c95;
  transition: color 500ms ease;
}

a:hover, a:focus {
  color: #1673ff;
  transition: color 500ms ease;
}

html {
  position: relative;
  min-height: 100%;
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: block;
  width: 100%;
}

.stars {
  background: #000 url("../img/stars.png") repeat top center;
  z-index: -2;
}

.twinkling {
  background: transparent url("../img/twinkling.png") repeat top center;
  z-index: -1;
  -moz-animation: twinkle 200s linear infinite;
  -ms-animation: twinkle 200s linear infinite;
  -o-animation: twinkle 200s linear infinite;
  -webkit-animation: twinkle 200s linear infinite;
  animation: twinkle 200s linear infinite;
}

.crawl {
    position: relative;
    transform-origin: 50% 100%;
    transform: translateY(10000px) rotateX(30deg) scale3d(1, 1, 1);
    animation: crawl 15s linear 5800ms infinite;
}

@keyframes crawl {
    0% {
        opacity: 1;
    transform: translateY(250%) rotateX(30deg) scale3d(1.5, 1, 1);
  }
    100% {
        opacity: 0;
    transform: translateY(-1080px) rotateX(30deg) scale3d(0, 0, 0);
  }
}

.fadeOut{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    text-align: left;
    animation: fadeOut 500ms ease-out 3s both;
}

@keyframes fadeOut {
    0% {
    opacity: 1;
  }
    100% {
    opacity: 0;
  }
}

.shrink{
    position: absolute;
    top: 500%;
    left: 1000%;
    
    animation: shrink 3s linear 3.5s;
}

@keyframes shrink{
    0%{
        top: 50%;
        justify-content: center;
;        transform: scale(6, 6);
    }
    100%{
        top: 50%;
        justify-content: center;
        transform: scale(0,0);
    }
    
}
