@font-face {
	font-family: "Open Sans";
    font-style: normal;
	font-weight: 400;
	src: url("../fonts/opensans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "News Gothic";
    font-style: normal;
	font-weight: 400;
	src: url("../fonts/news-gothic.ttf") format("truetype");
}

@font-face {
	font-family: "Universal Light";
    font-style: normal;
	font-weight: 400;
	src: url("../fonts/universallight-regular.ttf") format("truetype");
}
