/*------- Variables -------*/
@import "variables";

/* ------- Colors ------- */
@import "colors";

/* ------- Fonts ------- */
@import "fonts";

/* ------- Animations ------- */
@import "animations";

/* ------- General Styles -------*/
body{
    font-size: $base-text-size;
    font-family: "News Gothic", sans-serif;
    font-weight: bold;
}

#site-title{
    font-family: "Universal Light", sans-serif;
    font-weight: lighter;
}

.fadeOut p{
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
}

a{
    color: $link;
    transition: color 500ms ease;
    &:hover, &:focus{
        color: $link-hover;
        transition: color 500ms ease;
    }
}

@import "space";
